// M034-M035: Footer component styles
@use '../styles/variables' as vars;

.footer {
  flex-shrink: 0;
  border-top: 1px solid vars.$gray-200;
  background-color: vars.$gray-50;
  padding: vars.$spacing-3 0;
  text-align: center;
  font-size: vars.$text-sm;
  color: vars.$gray-600;
}
